{% if page_range|length > 1 %}
<ul class="pagination pagination-sm m-0 float-right">
    {% if has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ previous_page }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
    {% endif %}

    {% for p in page_range %}
    <li class="page-item {% if p == current_page %}active{% endif %}">
        <a class="page-link" href="?page={{ p }}{% if search_query %}&q={{ search_query }}{% endif %}">{{ p }}</a>
    </li>
    {% endfor %}

    {% if has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ next_page }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}